@import "tailwindcss";
body{
    color: #D7D6D6;
    font-family: Quintessential
;
}
#tsparticles{
    z-index: -1;
    width:100%;
    height: 100%;
    position: fixed;
}
h2{
    font-family: Cal Sans;
}
h3{
    font-family: Alumni Sans;
    
}
h4{
    font-family: Alumni Sans;
    
}
span{
    font-family: Alumni Sans;
    font-weight: 250;
}
.work{
    font-weight: 200;
}
p{
    font-family: Cal Sans;
}